@mixin flexbox($dir, $mainaxis, $crossaxis) {
  display: flex;
  flex-direction: $dir;
  justify-content: $mainaxis;
  align-items: $crossaxis;
}

@mixin bg-check() {
  background-color: $lettuce;
  background-image: url(../img/checkered-pattern.png);
}
