// FONTS
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Luckiest+Guy');
// Font style 'Luckiest Guy', use this for headings and the logo
$kooky: 'Luckiest Guy', cursive;
// Font style 'Archivo Narrow', use this for plain text
$plain: 'Archivo Narrow', sans-serif;
//


// COLORS
$bread: #DEBD82;
$lettuce: #367f36;
$meat: #9f4343;
$cheese: #fffd96;
//

$margins: 10px;
